* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "seattletimes";

body {
  font-family: @df-sans;
  font-size: 16px;
}

table {
  border-collapse: collapse;

  th {
    text-transform: uppercase;
    font-size: 14px;
  }

  tr {
    border-bottom: 1px solid @df-border-gray;

    td {
      padding: 5px;
    }
  }

  .symbol {
    font-size: 12px;
    color: @df-middle-gray;
  }

  img {
    width: 30px;
  }
}