* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@import "flexbox";
@import "seattletimes";
@import "page";
@import "scroll";
@import "sections";
@import "warning";

.transform(...) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}

body {
  font-family: @df-sans;
  font-size: 16px;
}

.spark-tooltip {
  position: absolute;
  z-index: 999;
}

.fixed {
  position: fixed;
  top: 0;
  background: white;
  z-index: 999;
  max-width: 1200px;
  width: 100%;

  @media (max-width: 1150px) {
    width: calc(~"100%-80px");
  }

  @media @tablet {
    width: calc(~"100%-20px");
  }
}

.chart {
  position: absolute;
  background: white;
  width: 100%;

  .hed {
    font-family: @df-serif;
    font-size: 28px;
    background: @df-charcoal;
    color: @df-off-white;
    padding: 20px 80px;

    @media (max-width: 1150px) {
      padding: 20px 40px;
    }
    @media @tablet {
      padding: 15px 10px;
    }
  }
  .inner {
    margin: 20px 80px;
    max-width: 1200px;

    @media (max-width: 1150px) {
      margin: 20px 40px;
    }

    @media @tablet {
      margin: 15px 10px;
    }
  }
  p {
    font-family: @df-sans;
  }
  .filter {
    padding-right: 3px;
  }
}

table {
  border-collapse: collapse;
  text-align: right;
  margin-top: 15px;
  display: block;

  thead, tbody {
    display: block;
  }

  th {
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    padding-left: 16px;

    @media (max-width: 1150px) {
      font-size: 12px;
    }

    @media (max-width: 700px) {
      font-size: 11px;
    }

    @media @mobile {
      font-size: 10px;
    }

    &:hover {
      background: @df-light-gray;
    }

    &.left {
      text-align: left;
    }

    &.up::before, &.down::before {
      position: absolute;
      color: rgb(188, 92, 35);
      font-size: 0.7em;
      margin-left: -1.3em;
    }
    &.up::before {
      content: "\25B2";
      padding-top: 0.2em;
    }
    &.down::before {
      content: "\25BC";
      padding-top: 0.2em;
    }

    &.spark {
      cursor: default;
      &:hover { 
        background: white;
      }
    }
  }

  thead tr {
    .align-items(flex-end);
  }

  tr {
    border-bottom: 1px solid @df-border-gray;
    .display-flex;
    .align-items(center);

    @media (max-width: 1350px) {
      font-size: 12px;
    }

    td {
      padding: 2px 10px;
      font-size: 14px;

      @media (max-width: 1350px) {
         padding: 1px 5px;
      }

      @media (max-width: 700px) {
        font-size: 12px;
      }
    }

    td, th {
      display: block;
      float: left;
      .flex(1 1 165px);
    }
  }

  .rank {
    text-align: right;
    cursor: pointer;
    .flex(1 1 125px);

    .fa-caret-down {
      color: @df-maroon;
    }
    .fa-caret-up {
      color: #578f3f;
    }
    span {
      padding-left: 2px;
    }
    &:hover {
      .tooltip {
        display: block;
      }
    }
    .tooltip {
      display: none;
      position: absolute;
      background: @df-off-white;
      padding: 3px 5px;
      font-size: 14px;
      border: @df-light-gray;
    }
  }
  .company {
    text-align: left;
    .flex(2 1 400px);
  }
  td.company {
    font-size: 15px;
    @media (max-width: 700px) {
      font-size: 12px;
    }
  }
  .symbol {
    font-size: 12px;
    color: @df-middle-gray;

    @media (max-width: 1350px) {
      font-size: 11px;
    }
    @media (max-width: 700px) {
      font-size: 10px;
    }
  }
  .industry {
    .flex(1 1 186px);
    text-align: center;
    cursor: pointer;

    &:hover {
      .tooltip {
        display: block;
      }
      img {
        opacity: .75;
      }
    }
    .tooltip {
      display: none;
      position: absolute;
      background: @df-off-white;
      padding: 3px 5px;
      font-size: 14px;
      border: @df-light-gray;
    }
  }
  .roic {
    .flex(1 1 115px);
  }
  .freecashflow {
    .flex(1 1 200px);
  }
  .profitlossperc {
    .flex(1 1 185px);
  }
  .roa {
    .flex(1 1 150px);
  }
  .employees {
    .flex(1 1 210px);
  }
  .peyoy {
    .flex(1 1 177px);
  }
  .spark {
    .flex(2 1 350px);
    text-align: center;
  }

  img {
    width: 30px;

    @media (max-width: 1300px) {
      width: 20px;
    }
  }

  @media (max-width: 1300px) {
    .profits, .profitlossperc, .roa, .employees, .peyoy {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .spark {
      display: none;
    }
  }

  @media @mobile {
    .industry {
      display: none;
    }
  }
}

.spark-tooltip {
  display: none;
  position: absolute;
  background: @df-off-white;
  padding: 3px 5px;
  font-size: 14px;
  border: @df-light-gray;

  &.show {
    display: block;
  }
}

.credits {
  padding: 30px 0;
  font-family: @df-serif;

  div {
    padding-top: 5px;
  }
}